@use '../../styles/colors';
@use '../../styles/layout';
@import "../../styles/globals";

.chapterContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: fit-content;
    max-width: 500px;
    height: 50vh;
    overflow: auto;
    .chapterItemContainer{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: center;
        padding: 10px;
        cursor: pointer;

        .readManga {
            color: colors.$greyLight2;
        }
    }
}