@use '../../styles/colors';
@use '../../styles/layout';
@use '../../styles/mixins';

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  margin: unset;
  background-color: colors.$white;
  height: 100px;
 
  .navContainer {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: layout.$maxWidth;
    .searchBarContainer {
      @media screen and (max-width: layout.$xs) {
        // display: none;
      }
    }
    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }

  }
}

.mobile {
  display: none;

  @media screen and (max-width: layout.$md) {
    display: flex;
  }

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}