@use '../../styles/colors';
@use '../../styles/layout';
@use '../../styles/mixins';

.categoryFilter {
  display: flex;
  flex-direction: row;
  flex: 1;
  font-size: 16px;
  li {
    display: flex;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    border: 1px solid #fd606d;
    margin-right: 10px;
    border-radius: 30px;
    min-width: 50px;
    cursor: pointer;
  }

  .selectedItem {
    color: colors.$white;
    background-color: #fd606d;
  }

}