@use '../../styles/colors';
@use '../../styles/layout';
@use '../../styles/mixins';

.mangaListContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    width: 100%;
    @media screen and (max-width: layout.$xs) {
        justify-content: center;
    }
}