@use '../../styles/colors';
@use '../../styles/layout';
@use '../../styles/mixins';

.container {
    display: flex;
    flex-direction: row;
    background-color: hsl(240, 5%, 96%);
    width: fit-content;
    border-radius: 40px;
    height: 50px;
    ul {
        display: block;
        flex-direction: row;
        margin: unset;
        padding: unset;
        position: relative;
        li {
            display: block;
            float: left;
            min-width: 150px;
            font-size: 13px;
            align-content: center;
            align-items: center;
            cursor: pointer;
            text-align: center;
            z-index: 100;
        }
        .optionSlider{
            display:block;
            position: absolute;
            background-color: #ffffff;
            height: 30px;
            border-radius: 20px;
            z-index: 0;
            transition: all .4s ease;
        }
    }
}