@use '../../../styles/colors';
@use '../../../styles/layout';
@use '../../../styles/mixins';

.searchBarContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    @media screen and (max-width: layout.$xs) {
        display: none;
    }

    input {
        display: flex;
        padding: 10px;
        height: 40px;
        min-width: 250px;
        border: 1px solid colors.$redRos;
        border-radius: 30px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        font-size: 16px;
    }

    button {
        font-family: 'Montserrat Regular', Arial, sans-serif;
        padding: 10px;
        border: 1px solid colors.$redRos;
        border-left: 0px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        color: white;
        background-color: colors.$redRos ;
        font-size: 16px;
    }
}

.searchBarMobileContainer {
    display: none;
    @media screen and (max-width: layout.$xs) {
        display: block;
        position: fixed;
        bottom: 70px;
        right:  20px;
    }
 
    .searchButtonContainer {
        background-color: colors.$redRos;
        color: white;
        padding: 15px;
        border-radius: 30px;
    }

    input {
        border-radius: 10px;
        height: 30px;
        margin-right: 10px;
    }
}